data/raw/
data/processed/*.npy
data/processed/*.csv
data/processed/*.txt

.env
*.env
*.venv
.venv/
__pycache__/
*.pyc
*.pkl
.streamlit/
*.log

htmlcov/
coverage.xml
*.cover
.cache/
.pytest_cache/
.ipynb_checkpoints/

*.png
*.jpg
*.svg
*.pdf

.vscode/
.idea/
.DS_Store
